<!--The content below is only a placeholder and can be replaced.-->
<app-navbar [links]="navbarLinks"></app-navbar>
<div class="content">
  <!-- Your other content goes here -->
</div>


<app-counter></app-counter>

<br><br><br>
<section class="contact">
    <h1>Contact Form</h1>
    <app-form></app-form>
</section>

<app-accordion></app-accordion>

<div class="app-container">
    <h1>Accordion Example</h1>
    <app-accordion [items]="accordionItems"></app-accordion>
  </div>
  
  <app-notes></app-notes>
<router-outlet></router-outlet>
<!-- <button mat-raised-button color="primary">TEst</button> -->